spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/imagelite
    username: postgres
    password: postgres
  jpa:
    database: POSTGRESQL
    hibernate:
        ddl-auto: update
    show-sql: true
  servlet: #Configurações para poder receber arquivos grandes
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB